  <fieldset>
<legend>Menu</legend>
  <head>       
        <title>Sistema Academico</title>       
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu" dir=ltr>
                        
<table>
    <tr>
        <th>
    
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            </th>
                            <th>
                            <li>@Html.ActionLink("Alunos", "ListarAluno", "Home")</li>
                            </th>
                            <th>
                            <li>@Html.ActionLink("Professores", "ListarProfessor", "Home")</li>
                            </th>
                            <th>
                            <li>@Html.ActionLink("Turmas", "ListarTurma", "Home")</li>
                            </th>
                            
                            </tr>
                            </table>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        </fieldset>
  